<!doctype html>
<html>
	<head>   
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    		<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Source+Sans+Pro:200,400,900|Nixie+One|Josefin+Sans:300,400|Raleway:400,900|Roboto:400,100' rel='stylesheet' type='text/css'>		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="app.css">
		<link href="https://bootswatch.com/paper/bootstrap.min.css" type="text/css" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
		<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div ng-app="movieApp" ng-controller="movieController">
			
			<div class="jumbotron">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h1>Search for a <i class="fa fa-film"></i> movie:</h1>
						<h4>Go ahead, I dare you.</h4>
					</div>
					<br><br>
					<div class="col-sm-4 col-sm-offset-4">
						<div class="form-group">
							<input type="text" placeholder="Movie Title" ng-model="title" class="form-control input-lg ">
							<input type="text" placeholder="Number of results" ng-model="limit" class="form-control input-lg">
							<button type="button" class="btn btn-block btn-primary btn-lg" ng-click="search();">Search <i class="fa fa-search"></i></i></button>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<ul ng-repeat="item in result" class="col-xs-12 col-sm-4 list-group">
						<li class="list-group-item"><center><img ng-src="{{ item.posters.original }}" class="img-circle" style="height: 100px; width: 100px;"></center></li>
						<li class="list-group-item"><strong><i class="fa fa-film"></i> Movie Title:</strong> {{ item.title }}</li>
						<li class="list-group-item"><strong>Year:</strong> {{ item.year }}</li>
						<li class="list-group-item"><strong>Rating:</strong> {{ item.mpaa_rating }}</li>
						<li class="list-group-item"><strong>Length:</strong> {{ item.runtime }} minutes</li>
						<li class="list-group-item"><strong>From the Critics:</strong> {{ item.critics_consensus }}</li>
					</ul>
				</div>
			</div>

		</div>
	</body>
</html>
