<!doctype html>
<html>
	<head>   
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    		<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Source+Sans+Pro:200,400,900|Nixie+One|Josefin+Sans:300,400|Raleway:400,900|Roboto:400,100' rel='stylesheet' type='text/css'>		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="app.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
		<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div ng-app="movieApp" ng-controller="movieController">
			
			<div class="jumbotron">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<h1>Search for a movie:</h1>
						<h4>Go ahead, I dare you.</h4>
					</div>
					<br><br>
					<div class="col-sm-4 col-sm-offset-4">
						<div class="form-group">
							<input placeholder="Movie Title" ng-model="title" class="input-lg form-control">
							<input placeholder="Number of results" ng-model="limit" class="input-lg form-control">
							<button type="button" class="btn btn-info btn-block btn-lg" ng-click="search();">Search</button>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<ul ng-repeat="item in result" class="col-xs-12 col-sm-4 list-group">
						<li class="list-group-item"><img ng-src="{{ item.posters.profile }}" class="img-circle" style="height: 100px; width: 100px;"></li>
						<li class="list-group-item">Movie Title: {{ item.title }}</li>
						<li class="list-group-item">Year: {{ item.year }}</li>
						<li class="list-group-item">Rating: {{ item.mpaa_rating }}</li>
						<li class="list-group-item">Length: {{ item.runtime }}</li>
						<li class="list-group-item">From the Critics: {{ item.critics_consensus }}</li>
					</ul>
				</div>
			</div>

		</div>
	</body>
</html>
